@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



@layer base {
  :root {
  --background: 0 93.3% 94.1%;          
  --foreground: 25 30% 15%;          
  --card: 0 0% 100%;
  --card-foreground: 25 30% 15%;

  --popover: 0 0% 100%;
  --popover-foreground: 25 30% 15%;

  --primary: 20.9 91.7% 14.1%;             
  --primary-foreground: 0 0% 98%;

  --secondary: 20.9 91.7% 14.1%;         
  --secondary-foreground: 25 30% 15%;

  --muted: 20 30% 90%;
  --muted-foreground: 25 15% 40%;

  --accent: 20.9 91.7% 14.1%;           
  --accent-foreground: 0 0% 98%;

  --destructive: 0 70% 45%;         
  --destructive-foreground: 0 0% 98%;

  --border: 20.9 91.7% 14.1%; 
  --input: 220.9 91.7% 14.1%; 
  --ring: 35 70% 45%;

  /* Optional chart palette */
  --chart-1: 35 70% 45%;
  --chart-2: 345 60% 60%;
  --chart-3: 25 35% 35%;
  --chart-4: 42 70% 65%;
  --chart-5: 15 70% 50%;

  --radius: 0.5rem;
}
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .nav-item {
    @apply  px-4 py-1 border border-transparent rounded-md  text-lg;
  }

  .hover-white {
    @apply text-white hover:text-foreground hover:bg-white 
  }

  .hover-brown {
    @apply text-foreground hover:text-white hover:bg-foreground
  }

  .input-class {
    @apply bg-background text-primary 
  }
}
